body { margin: 0; }
canvas { display: block; }

#control { position: absolute; color: white; padding-left: 20px; padding-top: 20px;}

.parameter {
    font-size: 15pt;
    height: 40px;
}

input[type="range"] {
    margin-left: 30px;
    width: 250px;
    position: absolute;
}

.parameter output {
    font-size: 12pt;
    position: absolute;
    left: 350px;
    width: 50px;
    text-align: center;
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 3px;
    font-family: 'Roboto Mono', monospace;
}
.group {
    color: white;
    font-size: 11pt;
    font-family: 'Roboto Mono', monospace;
    margin-bottom: 10px;
    margin-top: 10px;
}